/* general */
html {
  font-family: "Segoe UI", Arial, sans-serif;
  scroll-behavior: smooth;
  background-color: #fee6da;
}

/* ! if font-size more than 16px .wrapper max-width should be more than 768px ! */
body {
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: 600;
}

h1 {
  font-size: 2em;
}

h2 {
  text-transform: capitalize;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

pre {
  border: none;
  border-radius: 8px;
  font-size: 1.07em;
  font-weight: bold;
  color: #8e5c4a;
  background-color: #e3b3aa;
  box-shadow: inset 0 0 10px #8e5c4a;
}

.hidden {
  display: none;
}

.list-item {
  padding: 5px 0px 0px 5px;
}

/* wrapper */
.wrapper {
  max-width: 768px;
  margin: 0 auto;
}

/* header */

/* nav */
.nav-list {
  display: flex;
  justify-content: end;
}

.nav-list a {
  display: block;
  margin: 5px;
  text-transform: uppercase;
  font-weight: bold;
  color: #8e5c4a;
}

/* main */
.main-wrapper {
  display: flex;
  padding: 10px;
}

.sidebar {
  padding: 0px 10px;
  min-width: 260px;
}

.main-content {
  padding: 0px 10px;
  background-color: #ffd6d2;
}

/* footer */
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
